<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle d-flex">
        <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                    <i class="align-middle mr-1" data-feather="user"><span class="text-dark">{{userName}}</span></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <h3 class="align-middle m-3 text-center" id="userName">{{TenNhanVien}}</h3>
                    <h6 class="align-middle mb-3 text-center" id="userPosition">{{ChucVu}}</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/profile"><i class="align-middle mr-1" data-feather="user"></i>Tài khoản</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="help-circle"></i>Hướng dẫn sử dụng</a>
                    <div class="dropdown-divider"></div>

                    <form action="/logout" method="post">
                        <button class="dropdown-item" type="submit" ><i class="align-middle mr-1" data-feather="log-out"></i>Đăng xuất</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>