<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/index">
            <span class="align-middle">Quản lý cửa hàng</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">Quản lý</li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/index">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/store/?page=1&item=5">
                    <i class="align-middle" data-feather="database"></i> <span class="align-middle">Danh sách sách</span>
                </a>
            </li>
            
            <li class="sidebar-item">
                <a href="#user" data-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Khách hàng</span>
                </a>
                <ul id="user" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/users/?page=1&item=5">Danh sách tài khoản</a></li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/order">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Quản lý đơn hàng</span>
                </a>
            </li>

        </ul>




    </div>
</nav>



