<div class="m-sm-4">
    <div class="text-center">
        <img src="img/logos/logo.png" alt="Logo" class="img-fluid" width="232"/>
    </div>
    <br>
    <br>
    <div class="alert alert-success alert-dismissible text-center" role="alert">
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        <div class="alert-message">
            <strong>Xin hãy kiểm tra hộp thư của admin để đặt lại mật khẩu.</strong>
        </div>
    </div>
    <div class="text-center mt--10">
        <br>
        <h5>Bỗng nhiên nhớ ra mật khẩu?<a href="/"><span> ĐĂNG NHẬP</span></a></h5>
    </div>
</div>





